version: "3.8"

services:
  reverse-proxy:
    image: traefik
    command: --api.insecure=true --providers.docker
    ports:
      - 1080:80
      - 8080:8080
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - default
      - mongo-express
  mq:
    image: rabbitmq:management
    ports:
      - 15672:15672
      - 5672:5672
    networks:
      - default
  redis:
    image: redis
    ports:
      - 6379:6379
    networks:
      - default
  mongo:
    image: mongo
    ports:
      - 27017:27017
    networks:
      - mongo-express
      - default
  mongo-express:
    image: mongo-express
    ports:
      - 8081:8081
    networks:
      - mongo-express
    labels:
      - traefik.http.routers.mongo-express.rule=Host(`manage.conch.localhost`)
    depends_on:
      - mongo

networks:
  default:
    driver: bridge
  mongo-express:
    driver: bridge
