version: "3.8"

services:
  task-beater:
    build:
      context: .
      dockerfile: task-beater.dockerfile
    networks:
      - conch_default
  datafeeder:
    build:
      context: .
      dockerfile: datafeeder.dockerfile
    networks:
      - conch_default
  recommender:
    build:
      context: .
      dockerfile: recommender.dockerfile
    networks:
      - conch_default
    volumes:
      - recommender_pickles:/data/pickles

networks:
  conch_default:
    external: true

volumes:
  recommender_pickles:
